{% load static %}
<html>
    <head>
        <title>Record Video</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
    <div class="jumbotron text-center">
        <h1>Record Video</h1>
        <p>Pykafe try to record Video!</p>
    </div>
    <div class="container">
        <div id="app"></div>
        <script src="{% static 'main.js' %}"></script>
    </div>
    </body>
</html>

